:root {
    --brown: #4d3227;
    --tan: #ebc999;
    --orange: #cd7700;
}

body {
    background-image: url("beans.jpg");
    /* height: 100%; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
#header {

}
.tabs {
    display: grid;
    grid-template-columns: 128px 128px 128px;
    gap: 2rem;
    /* justify-items: center; */
    justify-content: center;
    margin-bottom: 20px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.tab {
    /* border: red solid 2px; */
    background-color: var(--tan);
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--brown);
}
#content {
    display: grid;
    justify-items:center;
}
.homePage, .menuPage, .contactPage {
    display: grid;
    gap: 30px;
    justify-items: center;
    width: 450px;
    background: var(--tan);
    border: var(--tan) solid 2px;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.name, .story, .hours, .location, .espresso, .coffee, .tea, .food, .founders, .managers{
    width: 350px;
    border: var(--brown) solid 4px;
    border-radius: 8px;
    padding: 12px;
    color:var(--brown);
}
.name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    
}
.hoursheader, .storyheader, .location, .menuheader, .contactheader {
 font-size: 1.4rem;
 font-weight: bold;
}
.location {
    text-align: center;
}
.storytext, .hourslist, .menulist {
    text-align: center;
    padding-top: 3px;
    font-size: 1.2rem;
}
.contactEmail, .contactPhone {
    padding-left: 100px;
    font-size: 1.2rem;
}
.contactName {
    font-weight: bold;
    padding-left: 80px;
    padding-top: 12px;
    font-size: 1.2rem;
}