#titleBar {
 position: relative;
}
.title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.topBackground {
    max-width: 100%;
    height:auto;
    /* position: relative; */

}